In [1]:
import pandas as pd
import atoti as tt

session = tt.Session()

Welcome to Atoti 0.8.6!

By using this community edition, you agree with the license available at https://docs.atoti.io/latest/eula.html.
Browse the official documentation at https://docs.atoti.io.
Join the community at https://www.atoti.io/register.

Atoti collects telemetry data, which is used to help understand how to improve the product.
If you don't wish to send usage data, you can request a trial license at https://www.atoti.io/evaluation-license-request.

You can hide this message by setting the `ATOTI_HIDE_EULA_MESSAGE` environment variable to True.

In [2]:
sales = session.read_csv("C:/Users/GRETA/Desktop/CSV/sales.csv", keys=["Sale ID"])

In [3]:
sales.head()

                 Date     Shop Product  Quantity  Unit price
Sale ID
S000001427 2021-01-18  shop_27  BED_24       1.0       150.0
S000001428 2021-01-17  shop_28  BED_25       4.0       300.0
S000000002 2021-02-02   shop_2   CHA_2       2.0        60.0
S000002858 2021-01-27  shop_18  TSH_52       4.0        24.0
S000004289 2021-01-06   shop_9  SHO_19       1.0        60.0

In [4]:
cube = session.create_cube(sales)

In [5]:
h = cube.hierarchies
h

{('Sales', 'Sale ID'): <atoti.hierarchy.Hierarchy object at 0x0000021398891CF0>, ('Sales', 'Product'): <atoti.hierarchy.Hierarchy object at 0x0000021398891D50>, ('Sales', 'Date'): <atoti.hierarchy.Hierarchy object at 0x0000021398891E40>, ('Sales', 'Shop'): <atoti.hierarchy.Hierarchy object at 0x0000021398891F30>}

In [6]:
l = cube.levels

In [7]:
m = cube.measures
m

{'contributors.COUNT': <atoti.measure.Measure object at 0x0000021398892860>, 'update.TIMESTAMP': <atoti.measure.Measure object at 0x00000213988926E0>, 'Unit price.MEAN': <atoti.measure.Measure object at 0x0000021398893250>, 'Unit price.SUM': <atoti.measure.Measure object at 0x0000021398893280>, 'Quantity.MEAN': <atoti.measure.Measure object at 0x00000213988932B0>, 'Quantity.SUM': <atoti.measure.Measure object at 0x00000213988932E0>}

In [8]:
cube.query(m["Quantity.SUM"])

  Quantity.SUM
0     8,077.00

In [9]:
cube.query(m["Quantity.SUM"], levels=[l["Shop"]])

        Quantity.SUM
Shop
shop_0        202.00
shop_1        202.00
shop_10       203.00
shop_11       203.00
shop_12       201.00
shop_13       202.00
shop_14       202.00
shop_15       202.00
shop_16       201.00
shop_17       204.00
shop_18       202.00
shop_19       202.00
shop_2        202.00
shop_20       201.00
shop_21       201.00
shop_22       201.00
shop_23       203.00
shop_24       203.00
shop_25       201.00
shop_26       202.00
shop_27       202.00
shop_28       202.00
shop_29       201.00
shop_3        201.00
shop_30       204.00
shop_31       202.00
shop_32       202.00
shop_33       201.00
shop_34       201.00
shop_35       201.00
shop_36       203.00
shop_37       203.00
shop_38       201.00
shop_39       202.00
shop_4        204.00
shop_5        202.00
shop_6        202.00
shop_7        201.00
shop_8        201.00
shop_9        201.00

In [10]:
cube.query(
    m["Quantity.SUM"],
    filter=l["Shop"] == "shop_0",
)

  Quantity.SUM
0       202.00

In [11]:
cube.query(m["Quantity.SUM"], levels=[l["Date"], l["Product"]])

                   Quantity.SUM
Date       Product
2021-01-06 BED_24          8.00
           BED_25          4.00
           BED_26          6.00
           BED_27          4.00
           BED_3           2.00
...                         ...
2021-02-04 TSH_52          6.00
           TSH_53          4.00
           TSH_7           3.00
           TSH_8           5.00
           TSH_9           3.00

[1830 rows x 1 columns]

In [12]:
cube.query(
    m["Quantity.SUM"],
    levels=[l["Date"], l["Product"]],
    filter=l["Shop"] == "shop_0",
)

                   Quantity.SUM
Date       Product
2021-01-15 BED_24          1.00
           BED_26          1.00
           BED_3           1.00
           BED_4           1.00
           BED_46          1.00
...                         ...
2021-02-04 TSH_51          2.00
           TSH_52          1.00
           TSH_53          1.00
           TSH_7           1.00
           TSH_9           1.00

[125 rows x 1 columns]

In [ ]:
session.widget

Open the notebook in JupyterLab with the Atoti JupyterLab extension enabled to build this widget.